// colores base
$primary: #2cafe5;
// $blue-dark: #002a49;
// $blue-ligth: #00a0df;
// $gray-ligth: #cacaca;

//   color: #373736;
// color: #efefef
//   color: #000000;

// fuente
$font-montserrat: 'Montserrat';
$font-gotham: 'Gotham';

$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

$fs-6xl: 2.566rem;
$fs-5xl: 2.281rem;
$fs-4xl: 2.027rem;
$fs-3xl: 1.802rem;
$fs-2xl: 1.602rem;
$fs-xl: 1.424rem;
$fs-lg: 1.266rem;
$fs-md: 1.125rem;
$fs-base: 1rem;
$fs-sm: 0.889rem;
$fs-xs: 0.79rem;
$fs-caption: 0.702rem;
// $fs-caption: 0.624rem;
