// colores base
$primary: #2cafe5;
// $blue-dark: #002a49;
// $blue-ligth: #00a0df;
// $gray-ligth: #cacaca;

//   color: #373736;
// color: #efefef
//   color: #000000;

// fuente
$font-montserrat: 'Montserrat';
$font-gotham: 'Gotham';

$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;
