* {
  // margin: 0;
  // padding: 0;
  text-decoration: none;
  list-style: none;
  // font-family: "Gotham";
  // border: 1px solid green;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}
