* {
	// margin: 0;
	// padding: 0;
	text-decoration: none;
	list-style: none;
	// font-family: "Gotham";
	// border: 1px solid green;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.row {
	margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
//

// html {
// 	// font-size: 100%;
// 	font-size: 14px;
// 	border: 1px solid red;
// } /*16px*/

// @media screen and (min-width: $md) {
// 	html {
// 		// font-size: 100%;
// 		font-size: 16px;
// 	} /*16px*/
// }
