a#register,
button#register,
button#btn-phone,
button#btn-name,
button#btn-password,
button#btn-birthdate,
button#filters,
button#login,
button#cart,
button#menu,
button#popover,
button#search {
	.v-btn__content {
		pointer-events: none !important;
	}
	span {
		pointer-events: none !important;
	}
	img {
		pointer-events: none !important;
	}
}

.title-primary {
	font-weight: 700;
	font-size: $fs-2xl;
	// line-height: 36px;
	text-transform: uppercase;
	color: #2cafe5;
}

a.button-primary,
button.button-primary {
	background: #f8f8f8 !important;
	border: 3px solid #2cafe5 !important;
	border-radius: 12px !important;
	font-weight: 800 !important;
	font-size: $fs-base !important;
	line-height: 21px !important;
	/* identical to box height */
	// width: 100% !important;
	// max-width: 317px !important;
	height: 50px !important;
	color: #2cafe5 !important;
	text-transform: inherit !important;
}

a.button-danger,
button.button-danger {
	background: #f8f8f8 !important;
	border: 3px solid #b92828 !important;
	border-radius: 12px !important;
	font-weight: 800 !important;
	font-size: $fs-base !important;
	line-height: 21px !important;
	/* identical to box height */
	// width: 100% !important;
	// max-width: 317px !important;
	height: 50px !important;
	color: #b92828 !important;
	text-transform: inherit !important;
}

.v-text-field .v-input__control .v-input__slot {
	min-height: auto !important;
	display: flex !important;
	align-items: center !important;
	border-radius: 6px;
	// border-color: red !important;
}

.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
	opacity: 0 !important;
}

.v-text-field {
	.v-input__control {
		min-height: 54px !important;
		.v-input__slot {
			height: 54px !important;
		}
	}
}

.v-input.v-textarea {
	.v-input__control {
		.v-input__slot {
			height: 115px !important;
		}
	}
}

// button {
//   // background-color: #003a70 !important;
//   color: white !important;
//   text-transform: uppercase !important;
// }

// button.text {
//   background: transparent !important;
// }

// header filter

// skeleton post
.skeleton-line-text-post {
	.v-skeleton-loader__list-item-two-line.v-skeleton-loader__bone {
		padding: 0 !important;
	}
}

.dialog-address-box {
	// border: 2px solid red !important;
	border-radius: 24px !important;
}

.card-dialog-contact {
	background: #ffffff !important;
	border-radius: 22px !important;
}

@media screen and (min-width: $sm) {
	.v-text-field {
		.v-input__control {
			min-height: 54px !important;

			.v-input__slot {
				height: 54px !important;
			}
		}
	}
	.v-input.v-textarea {
		.v-input__control {
			.v-input__slot {
				height: 70px;
			}
		}
	}

	// final
}

@media screen and (min-width: $md) {
	a.button-danger,
	button.button-danger {
		height: 64px !important;
	}
	a.button-primary,
	button.button-primary {
		height: 64px !important;
	}
	.single-product {
		.v-slide-group__content {
			flex-direction: column !important;
			overflow: hidden !important;
		}
	}
}
@media screen and (min-width: $lg) {
	.scale:hover {
		transform: scale(1.1);
		-webkit-transition: transform 0.5s ease-out;
		-moz-transition: transform 0.5s ease-out;
		-o-transition: transform 0.5s ease-out;
		transition: transform 0.5s ease-out;
	}
	.scale-1-5:hover {
		transform: scale(1.5);
		-webkit-transition: transform 0.5s ease-out;
		-moz-transition: transform 0.5s ease-out;
		-o-transition: transform 0.5s ease-out;
		transition: transform 0.5s ease-out;
	}
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
	// margin: 0 auto;
	// width: 80%;
}
