.v-breadcrumbs {
	padding-left: 0;
	.v-breadcrumbs__item {
		font-weight: 300 !important;
		font-size: $fs-md !important;

		color: #000000 !important;
	}
	.v-breadcrumbs__item--disabled {
		font-weight: 500 !important;
		font-size: $fs-base !important;
		color: #2cafe5 !important;
	}
}

@media screen and (min-width: $md) {
	// .v-breadcrumbs {
	// 	.v-breadcrumbs__item {
	// 		font-size: 15px !important;
	// 	}
	// 	.v-breadcrumbs__item--disabled {
	// 		font-size: 18px !important;
	// 	}
	// }
}
