// Styling the default Slick dots
.home-slider {
	.slick-slider {
		width: 100%;
		display: block;
		// height: 100%;
		height: 190px;

		position: relative;
	}

	.slick-dots {
		display: flex !important;
		margin: 0;
		padding: 2rem 0;
		list-style-type: none;
		width: 100%;
		// height: 100%;
		position: absolute;
		justify-content: center;
		align-items: flex-end;
		// top: 0;
		left: 0;
		right: 0;
		bottom: -50px;
		li {
			margin: 10px;
		}

		button {
			display: block;
			width: 5px;
			height: 5px;
			padding: 0;
			background: #c4c4c4 !important;
			border-radius: 100%;
			background-color: transparent;
			text-indent: -9999px;
		}

		li.slick-active button {
			background-color: $primary !important;
		}
	}
}

@media screen and (min-width: $md) {
	.home-slider {
		.slick-slider {
			height: 270px;
		}
		.slick-dots {
			button {
				width: 8px;
				height: 8px;
			}
		}
	}
}
