.search-box {
  .group {
    input {
      border: 1px solid #565a5e;
      border-right: 0;
    }
  }
}

@media screen and (min-width: $lg) {
  .search-box {
    .group {
      input {
        border-color: transparent;
      }
    }
  }
}
