@font-face {
  font-family: "Gotham";
  src: local("Gotham Thin"), local("Gotham-Thin"),
    url("@/assets/fonts/Gotham/Gotham-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham ThinItalic"), local("Gotham-ThinItalic"),
    url("@/assets/fonts/Gotham/Gotham-ThinItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham Light"), local("Gotham-Light"),
    url("@/assets/fonts/Gotham/Gotham-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham LightItalic"), local("Gotham-LightItalic"),
    url("@/assets/fonts/Gotham/Gotham-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Book"), local("Gotham-Book"),
    url("@/assets/fonts/Gotham/Gotham-Book.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham BookItalic"), local("Gotham-BookItalic"),
    url("@/assets/fonts/Gotham/Gotham-BookItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Medium"), local("Gotham-Medium"),
    url("@/assets/fonts/Gotham/Gotham-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham MediumItalic"), local("Gotham-MediumItalic"),
    url("@/assets/fonts/Gotham/Gotham-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham Bold"), local("Gotham-Bold"),
    url("@/assets/fonts/Gotham/Gotham-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham BoldItalic"), local("Gotham-BoldItalic"),
    url("@/assets/fonts/Gotham/Gotham-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Black"), local("Gotham-Black"),
    url("@/assets/fonts/Gotham/Gotham-Black.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham BlackItalic"), local("Gotham-BlackItalic"),
    url("@/assets/fonts/Gotham/Gotham-BlackItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham Ultra"), local("Gotham-Ultra"),
    url("@/assets/fonts/Gotham/Gotham-Ultra.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham UltraItalic"), local("Gotham-UltraItalic"),
    url("@/assets/fonts/Gotham/Gotham-UltraItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
