@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Thin'), local('HankenGrotesk-Thin'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk ThinItalic'), local('HankenGrotesk-ThinItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk ExtraLight'), local('HankenGrotesk-ExtraLight'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-ExtraLight.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk ExtraLightItalic'),
		local('HankenGrotesk-ExtraLightItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Light'), local('HankenGrotesk-Light'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk LightItalic'), local('HankenGrotesk-LightItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk'), local('HankenGrotesk-Regular'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Italic'), local('HankenGrotesk-Italic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Medium'), local('HankenGrotesk-Medium'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk MediumItalic'),
		local('HankenGrotesk-MediumItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk SemiBold'), local('HankenGrotesk-SemiBold'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk SemiBoldItalic'),
		local('HankenGrotesk-SemiBoldItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-SemiBoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Bold'), local('HankenGrotesk-Bold'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk BoldItalic'), local('HankenGrotesk-BoldItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk ExtraBold'), local('HankenGrotesk-ExtraBold'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-ExtraBold.ttf');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk ExtraBoldItalic'),
		local('HankenGrotesk-ExtraBoldItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk Black'), local('HankenGrotesk-Black'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-Black.ttf');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Hanken Grotesk';
	src: local('HankenGrotesk BlackItalic'), local('HankenGrotesk-BlackItalic'),
		url('@/assets/fonts/hanken-grotesk/HankenGrotesk-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}
